* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 900px;
    max-width: 100%;
    /* background-color: red; */
}
.container-footer {
    height: 200px;
}
.i {
    font-style: italic;
}
.u {
    text-decoration: underline;
}
.b {
    font-weight: bold;
}