.lesson-title {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    color: white;
    font-size: 30pt;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 50px;
    margin-top: 50px;
}
.lesson-title.__locked {
    cursor: not-allowed;
    background-color: grey;
}
.lesson-tasks {
    font-size: 25pt;
}
.lesson-task-container {
    display: flex;
    margin-bottom: 40px;
}
.lesson-task-number {
    margin-right: 10px;
}
.lesson-next-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 50px;
}
.lesson-next {
    padding: 20px;
    color: white;
    background-color: black;
    font-size: 20pt;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
}
.lesson-next.__hidden {
    display: none;
}
.lesson-next:hover {
    font-size: 25pt;
}
.lesson-conspect {
    font-size: 20pt;
}